<div id="intel_tabs">
  <ul>
    <li><a href="#intel_tabs-overview">Übersicht</a></li>
    <li><a href="#intel_tabs-diplomacy">Diplomatie</a></li>
    <li><a href="#intel_tabs-technology">Technologie</a></li>
  </ul>

  <div id="intel_tabs-overview" class="inteldlg_tabs">
    <table class="vert-attr-list">
    <tr><th>Herrscher</th><td>{{ruler}}</td></tr>
    <tr><th>Regierung</th><td>{{government}}</td></tr>
    <tr><th>Hauptstadt</th><td>{{capital}}</td></tr>
    <tr><th>Gold</th><td>{{gold}}</td></tr>
    <tr><th>&nbsp;</th><td></td></tr>
    <tr><th>Steuern</th><td>{{tax}}</td></tr>
    <tr><th>Wissenschaft</th><td>{{science}}</td></tr>
    <tr><th>Luxus</th><td>{{luxury}}</td></tr>
    <tr><th>&nbsp;</th><td></td></tr>
    <tr><th>Forschung</th><td>{{researching}}</td></tr>
    <tr><th>Kultur</th><td>{{culture}}</td></tr>
    </table>
  </div> 

  <div id="intel_tabs-diplomacy" class="inteldlg_tabs">
    <ul>{{#each dipl}}
    <li>{{state}}<ul>
    {{#each nations}}<li>{{this}}</li>{{/each}}
    </ul></li>
    {{else}}
    {{!-- Shouldn't happen, as they have contacted us --}}
    Kein Kontakt mit anderen Nationen
    {{/each}}</ul>
  </div> 

  <div id="intel_tabs-technology" class="inteldlg_tabs">
    <ul>{{#each tech}}
    <li class="tech-{{who}}">{{name}}</li>
    {{else}}
    Dieser spannende Stamm scheint nicht in Technologie zu investieren.
    {{/each}}</ul>
  </div> 
 
</div>  
